<%= render 'slideshowfront' %>
<body>
  <!-- nav bar -->
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Happy Anniversary Laura</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li></li>
          <li><%= link_to 'Do Not Click!', "http://shockingcats.ytmnd.com/" %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= render 'slideshow' %>

  <br>
  <br>
  <div class="container marketing">
    <h1 class="introduction"> Plans for the Day! </h1>
    <br>
    <br>
    <!-- Three columns of text below the carousel -->
    <% i = 0 %>
    <div class="row">
      <% @events.each do |event| %>
        <% i += 1 %>
        <% if i % 4 == 0 %>
          </div>
          <div class="row">
        <% end%>
        <div class="col-lg-4">
          <%=image_tag event.event_hint_pic, :class => 'img-circle img-responsive' %>
          <h2><%= event.event_hint_title %></h2>
          <p><%= event.event_hint_descr %></p>
          <% if Time.now.hour >= event.event_timer %>
            <p><a class="btn btn-default" href="<%=event_path event %>" >View Details &raquo;</a></p>
          <% else %>
            <p><a class="btn btn-default">View Details &raquo;</a></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<br>

<!--    <script src="/assets/jquery.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
            <script src="/assets/holder.js"></script>
            -->
</body>
