<body>
  <!-- nav bar -->
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Happy Anniversary Laura</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li></li>
          <li><%= link_to 'Back', events_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= @event.event_title %> <span class="text-muted"></span></h2>
      <p class="lead"><%= @event.event_descr %> </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="/assets/<%=@event.event_pic%>" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

</body>
